<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      />
      <link rel="stylesheet" href="/stylesheets/index.css" />
      <title>Document</title>
    </head>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"
          ><span class="material-symbols-outlined"> arrow_back_ios </span
          ><span class="material-symbols-outlined"> empty_dashboard </span></a
        >
        <h1>Edit</h1>

        <a href="/"><span class="material-symbols-outlined"> logout </span></a>
      </nav>
    </header>
    <h2><%=deckName%></h2>
    <!-- delete button here  -->

    <!-- preview -->
    <!-- preview flashcard selected in display view-->
    <!-- update form here -->
    <div class="preview-container">
      <form
        action="/decks/<%=foundDeck._id%>/flashcards/<%=cardID%>?_method=PUT"
        method="POST"
      >
        <h3><strong> Card Preview </strong></h3>
        <div class="fc-header">
          <h4><strong>Front</strong></h4>
        </div>
        <div class="front-container">
          <input type="text" name="frontEdit" value="<%=fc.front%>" />
        </div>
        <div class="fc-header"><strong> Back </strong></div>
        <div class="back-container">
          <input type="text" name="backEdit" value="<%=fc.back%>" />
        </div>
        <!-- <div class="tags">
        <label>Tags: </label>
        <input type="text" name="tagEdit" value="<%=fc.tags%>" />
      </div> -->
        <button type="submit">Save Changes</button>
      </form>
    </div>
    <div class="delete-card">
      <h3>Delete Card</h3>
      <form
        action="/decks/<%=foundDeck._id%>/flashcards/<%=cardID%>?_method=DELETE"
        method="POST"
      >
        <button type="submit">
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </form>
    </div>
  </body>
</html>
