<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- <link rel="stylesheet" href="/stylesheets/decks-index.css" /> -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/summary"
          ><span class="material-symbols-outlined"> arrow_back_ios </span
          ><span class="material-symbols-outlined"> empty_dashboard </span></a
        >
        <h1>Database</h1>
        <a href="/"><span class="material-symbols-outlined"> logout </span></a>
      </nav>
    </header>

    <!-- side bar here -->
    <ul >
      <li class="dropdown">
        <span> Filters ▾</span>
        <ul class="features-menu">
          <li>
            Decks
            <ul class="decks-menu">
              <%decks.forEach(d => {%>
              <li><%=d.name%></li>
              <%});%>
            </ul>
          </li>
          <li>Due</li>
          <li>Pending</li>
          <li>
            Tags
            <ul class="tags-menu">
              <li>(tag names)</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div class="display-table">
      <table>
        <thead>
          <tr>
            <th>Flashcard</th>
            <th>Due</th>
            <th>Deck Name</th>
            <th>Edit</th>
          </tr>
        </thead>
        <%allCards.forEach((card) => {%>

        <tbody>
          <tr>
            <th><%= card.flashcard.front %></th>
            <th><%= card.flashcard.due.toString().slice(0, 21) %></th>
            <th><%= card.deckName %></th>
            <th>
              <a
                href="/flashcards/<%=card.flashcard._id%>/edit?deckName=<%=card.deckName%>"
              >
                <span class="material-symbols-outlined"> edit </span></a
              >
            </th>
          </tr>
        </tbody>
        <%})%>
      </table>
    </div>
  </body>
</html>
